<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shining.p042_largeimage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- Glide与OkHttp3集成 -->
    <meta-data
        android:name="com.example.lagerimage_test.glide.OkHttpProgressGlideModule"
        android:value="GlideModule" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivityLargeImageGlide" />

        <activity android:name=".activity.MainActivityLargeImageLocal1" />
        <activity android:name=".activity.MainActivityLargeImageLocal2" />
    </application>

</manifest>