<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p031_mokuaihua_viewpager_fragment">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".applications.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo1.Demo1Activity" />
        <activity android:name=".demo2.Demo2Activity" />
        <!--demo2 config start-->
        <meta-data
            android:name="DEMO2_CONFIG"
            android:value="${DEMO2_CONFIG_VALUE}" />
        <meta-data
            android:name="STATISTICS"
            android:value="${STATISTICS_VALUE}" />
        <!--demo2 config end-->

        <!--demo3 config start-->
        <activity android:name=".demo3.Demo3Activity" />
        <meta-data
            android:name="DEMO3_CONFIG"
            android:value="${DEMO3_CONFIG_VALUE}" />
        <!--demo3 config end-->

        <!--demo4 config start-->
        <activity android:name=".demo4.Demo4Activity" />
        <meta-data
            android:name="DEMO4_CONFIG"
            android:value="${DEMO4_CONFIG_VALUE}" />
        <!--demo4 config end-->

        <activity android:name=".demo5.Demo5Activity" />
    </application>

</manifest>