<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p010_recycleviewall">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycleviewlistview.MainActivity1" />
        <activity android:name=".recycleviewgridview.MainActivity2" />
        <activity android:name=".recycleviewlistviewaddheadandfooter.MainActivity3" />
        <activity android:name=".recycleviewgridviewaddheadandfooter.MainActivity4" />
        <activity android:name=".tablayout.fragmentviewpager.MainActivityTabLayout" />
        <activity android:name=".tablayout.fragmentframelayout.ShopIndexActivity" />
        <activity android:name=".recycleviewbiaoge.MainActivityBiaoge" />
        <activity android:name=".recycleviewdifferentitem.MainActivityDff" />
        <activity android:name=".bluetoothold.MainActivity_BlueTooth" />
        <activity
            android:name=".shoucang.lookall.LookAllActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notitle" />
        <activity
            android:name=".shoucang.ShoucangIndexActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notitle" />


    </application>

</manifest>