<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shining.p010_recycleviewall">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.shining.p010_recycleviewall.application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shining.p010_recycleviewall.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shining.p010_recycleviewall.recycleviewlistview.MainActivity1" />
        <activity android:name="com.shining.p010_recycleviewall.recycleviewgridview.MainActivity2" />
        <activity android:name="com.shining.p010_recycleviewall.recycleviewlistviewaddheadandfooter.MainActivity3" />
        <activity android:name="com.shining.p010_recycleviewall.recycleviewgridviewaddheadandfooter.MainActivity4" />
        <activity android:name="com.shining.p010_recycleviewall.tablayout.fragmentviewpager.MainActivityTabLayout" />
        <activity android:name="com.shining.p010_recycleviewall.tablayout.fragmentframelayout.ShopIndexActivity" />
        <activity android:name="com.shining.p010_recycleviewall.recycleviewbiaoge.MainActivityBiaoge" />
        <activity android:name="com.shining.p010_recycleviewall.recycleviewdifferentitem.MainActivityDff" />
        <activity android:name="com.shining.p010_recycleviewall.bluetoothold.MainActivity_BlueTooth" />
        <activity
            android:name="com.shining.p010_recycleviewall.shoucang.lookall.LookAllActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notitle" />
        <activity
            android:name="com.shining.p010_recycleviewall.shoucang.ShoucangIndexActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.notitle" />


        <!--shoucang config start-->
        <meta-data
            android:name="SHOUCANG_CONFIG"
            android:value="${SHOUCANG_CONFIG_VALUE}" />

        <meta-data
            android:name="SHOUCANG_CONFIG0"
            android:value="${SHOUCANG_CONFIG_VALUE0}" />

        <meta-data
            android:name="ST"
            android:value="${STATISTICS_VALUE}" />

        <!--shoucang config end-->

    </application>

</manifest>