<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p020_timer">


    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TimerDemoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TimerFinishActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:screenOrientation="landscape" />


        <service
            android:name=".service.TimerDemoService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>