<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p027_daojishi_manifestPlaceholders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.p027_daojishi_manifestPlaceholders.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${jush_appkey_value}" />

        <meta-data
            android:name="SHOUCANG_CONFIG0"
            android:value="${SHOUCANG_CONFIG_VALUE0}" />

    </application>

</manifest>